{% extends 'base.html' %}
{% block content %}
{%load cloudinary%}
<title>Posts</title>
<style>
    body {}
    h1,h2 {font-size:20px;}
    a {text-decoration:none; color:white;}
    a:hover {color:white;}
    .List {display: grid;
        border-radius:30px;
        background: rgba(255, 255, 255, 0.3);
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        margin:10px;
        padding:20px;}
    .posts{background: #0f0f0f; text-align:center;
        padding:10px;
        border-top:5px solid orange;
        height:300px;
        width: 250px;
        color: white;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 10px 25px rgba(0,0,0,0.15);
        transition: transform 0.2s ease;}
    .banner {margin-top:5px;height:200px; width:180px; object-fit:cover; border-radius:50%;}
    @media (max-width:600px){
        .List {margin-left:5px; display: flex; flex-wrap: wrap; gap:10px; width: 310px;}
        .posts{border-radius:30px; width: 130px;height:160px; margin-bottom:6px;}
        .posts h2 {font-size:10px;}
        .posts p {font-size:8px;}
        .banner{height: 100px;width: 100px;}
    }
</style>
<h1>All Posts</h1>
<section class="List">
{% for post in posts%}
    <article>
        <div class="posts">
        <a href="{% url 'posts:page' slug=post.slug %}">
            {% cloudinary post.banner class="banner" alt=post.title %}
       <h2>{{ post.title}}</h2>
       <p>Posted by {{post.author}}</p>
 
        </a>
    </div>
</article>
    {% endfor %}
</section>

{% endblock %}